*{
    margin: 0;
    font-family: 'inter';
}

h1{
    font-size: 40px;
}

#titlediv{
    padding: 200px 0 140px 60px;
    background-color: #303030;
    color: white;
}

#title{
    font-size: 72px;
}

#subtitle{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
}

#informational{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 60px 0;
    background-color: #f9f9f9;
}

.item{
    margin-top: 30px;
}

.itemtitle{
    font-weight: 600;
}

.itemcontent{
    font-weight: 400;
    font-size: 20px;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 94px;
    padding: 90px 0;
    background-color: white;
}

#contenttitle{
    margin-bottom: 40px;
    font-weight: 500;
}

#contenttext{
    width: 700px;
    font-size: 24px;
    font-weight: 300;
}

img{
    border-radius: 30px;
}

#footer{
    display: grid;
    text-align: center;
    padding: 90px 0;
    background-color: #303030;
}

#footertitle{
    color: white;   
    font-size: 32px;
    margin-bottom: 48px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

input{
    width: 478px;
    height: 72px;
    padding-left: 30px;
    border-radius: 10px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 24px;
    color: #303030;
}

::placeholder{
    color: #0000004D;
}

button{
    border-radius: 10px;
    width: 286px;
    height: 74px;
    background-color: #C07212;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: translateY(-3px);
    background-color: rgb(212, 134, 38);
    transition: 0.3s;
    box-shadow: 0px 3px 2px #c072124d
}